body {
    font: 0.7em Verdana, Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    
}

a img {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

h1 {
    display: inline;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

#head_img {
    margin-left: 30px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

#header {
	margin: 10px 0px 5px 0px;
        text-align: center;
}

#help_panel h2, #chart_panel h2{
    text-align: center;
}

#container {
    padding: 0;
    margin: 0px auto;
    width: 1010px;
/*    width calcuated on resize*/
}

#container_left {
    float: left;
    width: auto;
}

#container_right {
    float: right;
    width: auto;
    clear: none;
}

.panel {
    float: left;
    padding: 0px 30px 10px 30px;
    line-height:150%;
    background-color:#efeef0;
    border:1px solid #aaaaaa;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#help_panel h2, #chart_panel h2{
    text-align: center;
}
#help_panel {
    display: none;
    overflow: visible;
    margin: 5px 0px 0px 0px;
    float: right;
    clear: both;
    width: 59em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left_column {
    width: 438px;
}

.right_column {
    width: 500px;
}

.no_spacing {
    margin: 0;
    padding: 0;
}

#filter_panel {
    float: left;
    clear: left;
    margin: 5px 0px 0px 5px;

}

#filter_panel label {
    margin: 0px;
    margin-bottom: 5px;
}

#monthTextStart, #monthTextEnd, #hourTextStart, #hourTextEnd {
    color: inherit;
    font: inherit;
    background: none;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    display: inline;
}
#monthTextStart, #monthTextEnd {
    width: 2.5em;
}
#hourTextStart, #hourTextEnd {
    width: 3.5em;
}

#keyword_filter {
    float: left;
    width: 100%;
}

#help_button {
    float: right;
}

#reset_button {
    float: right;
    position: relative;
    left: 15px;
}

#chart_panel {
    float: right;
    margin: 5px 0px 2px 0px;
}

#dataTables_wrap {
    float: left;
    clear: left;
    width: 500px;
    height: auto;
    margin: 5px 0px 0px 5px;
}

#chart {
	float: right;
        width:500px;
	border:0px solid #eee; 
	background-color:#fff; 
}
 
#map {
	float:right;
	clear: right;
	width:500px;
	height:450px;
        margin-top:5px;
}


.slider_wrapper {
    height: 6em;
}

select {
    display: none;
}

.infoWindow {
    max-width: 180px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear_both {
    clear: both;
}

.full {
    width: 100%;
}
