body {
    font: 0.7em Verdana, Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    
}

h1 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0px;
    padding-left: 30px;
    margin-bottom: 0.2em;
}

h2 {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
}

.right_column h2 {
    text-align: center;
}

#container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
/*    width calcuated on resize*/
}

.panel {
    float: left;
    padding: 0px 30px 10px 30px;
    line-height:150%;
    margin:5px;
    background-color:#eeeeee;
    border:1px solid #dedede;
    
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#filter_panel {
    clear: left;
}
#help_panel {
    width: 100%;
}

.left_column {
        width: 438px;
}

.right_column {
    width: 500px;
}

.no_spacing {
    margin: 0;
    padding: 0;
}

#keyword_filter {
    float: left;
}

#help_button {
    float: right;
}

#dataTables_wrapper {
    float: left;
    clear: left;
    width: 500px;
    margin:5px;
}

#chart {
/*        float: right;*/
        width:500px;
	border:0px solid #eee; 
	background-color:#fff; 
        margin:5px;
	padding:0px; 
}
 
#map {
	float:right;
	clear: right;
	width:500px;
	height:400px;
        margin:5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.slider_wrapper {
    height: 6em;
}

tbody tr td:first-child {
	text-align:center;
}
tbody tr td:eq(2) {
	text-align:center;
}